<div class="container-fluid" width="400px">
    <!-- Sidebar -->

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Bank Application </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" routerLink="admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- ******************HIDE THIS WITH NGIF if teller has not selected a Client***********************-->

        <div *ngIf="router.url != '/admin'">
            <!-- Heading -->
            <div class="sidebar-heading">
                Account Information
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" routerLink="account/{{account.accountNumber}}" aria-expanded="true"
                    aria-controls="collapseOne">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Account Dashboard</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Edit Account Info</span>
                </a>
        </div>
        <!-- End of Sidebar -->
    </ul>
</div>