<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <br>
                                <br>
                                <br>
                                <br>


                                <h1 class="h4 text-gray-900 mb-4">Add New Client</h1>
                            </div>
                            <!-- Form to Add New Client to Database-->
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">

                                        <input type="text" class="form-control form-control-user" id="firstName"
                                            name="firstName" placeholder="First Name" [(ngModel)]="account.firstName">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="lastName"
                                            name="lastName" placeholder="Last Name" [(ngModel)]="account.lastName">
                                    </div>
                                </div>
                                <!-- Calls Service to add Account to the Database and Reroutes back to Admin Portal-->
                                <button (click)="addClient()" [routerLink]="['/admin']" type="submit"
                                    class="btn btn-primary btn-user btn-block">
                                    Add New Client
                                </button>

                            </form>
                            <hr>
                            <div>
                                <a routerLink="/admin" class="text-center">
                                    <p>Back to Admin Portal</p>
                                </a>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>