.signup {
    position: absolute;
    top: 25%;
    left: 50%;
}

/*  This is how we can apply a background color to all pages simultaneously.
.pagewrapper{
    overflow: hidden;
    background: #751313;
    padding-bottom: 8vh;
}
*/

.checkingbalance {
    padding: 10px;
    border: 2px solid black;
    background-color: lightblue;
    width: 50;
    text-align: center;
}

.viewdetailspb {
    padding: 2px;
    background-color: lightgrey;
    width: 100;
}

.view-details-arrow {
    display: flex;
    -webkit-box-align: end;
}

.savingsbalance {
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(100, 169, 100);
    width: 50;
    text-align: center;
}

.viewdetailssb {
    padding: 2px;
    background-color: lightgrey;
    width: 100;
}

.credit-card-img {
    width: 50px;
}

.deposit {
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    width: 50;
    text-align: center;
}

.go-to-deposit {
    padding: 2px;
    background-color: lightgrey;
    width: 100;
}

.withdraw-img {
    width: 50px;
}

.withdrawl {
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    width: 50;
    text-align: center;
}

.go-to-withdrawl {
    padding: 2px;
    background-color: lightgrey;
    width: 100;
}


        

    
