<!-- Breadcrumbs-->
<app-dashboard-links [accountNumber]="account.accountNumber"></app-dashboard-links>
<!-- Withdraw Form-->
<form class="row gy-2 gx-3 align-items-center">
    <div class="mb-3">
        <label for="selectbankaccountype" class="bankaccounttype">1. Please select an account to withdraw
            funds:</label>
        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect" #selectedAccount>
                <option selected>Please Select Option...</option>
                <option value="1">Checking</option>
                <option value="2">Savings</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="amounttodeposit" class="amounttodesposit">2. Please enter withdrawal amount:</label>
        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Deposit Amount</label>
            <input type="number" class="form-control" id="autoSizingInput" placeholder="Enter amount here..."
                #transferamounts>
        </div>
    </div>
    <div class="col-auto">
        <button type="deposit" class="btn btn-primary"
            (click)="withdraw(transferamounts.valueAsNumber, selectedAccount.value)">Withdraw</button>
    </div>
</form>