<div class="signup-container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Please sign in</label>
  </div>
  <div class="mb-3">
    <input type="username" class="form-control" id="username" placeholder="username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div class="remember-me-checkbox">
    <input class="remember-me-checkbox-input" type="checkbox" value="" id="remember-me-checkbox" checked>
    <label class="remember-me-checkbox-label" for="flexCheckChecked">
        Remember me
    </label>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="sign-in" type="button">Sign in</button>
    <button class="sign-up" type="button">Sign up!</button>
  </div>
</div>   
